{% extends "tictactoe/base.html" %}

{% load static %}

{% block title %}
<title>TicTacToe - Board {{ board.id }}</title>
{%endblock%}

{%  block script %}
{{ block.super }}
<script src="{% static 'tictactoe/board.js' %}" defer></script>
{% endblock %}

{% block tictactoe_content %}
<p><a href="{% url 'tictactoe:index' %}">Back to main page</a></p>

<div id="players_area">
    <p>Crosses: {{ board.crosses_player }}</p>
    <p>Noughts: {{ board.noughts_player }}</p>
</div>

{% if user_can_join %}
<button hx-post="{% url 'tictactoe:join_board' board.id %}">Join board</button>
{% endif %}

<div id="board_area">
    <p>Board:</p>
    {% include "tictactoe/board_detail.html" %}
</div>

<div id="status_area" hidden>
    <p id="status_message"></p>
</div>

{% endblock %}
