{% extends "base.html" %}

{% load static %}

{% block title %}
<title>TicTacToe - Board {{ board.id }}</title>
{%endblock%}

{% block style %}
<link rel="stylesheet" href="{% static 'tictactoe/style.css' %}" />
{% endblock %}

{% block script %}
<script src="{% static 'tictactoe/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
<p>Crosses: {{ board.crosses_player }}</p>
<p>Noughts: {{ board.noughts_player }}</p>

<p>Board:</p>
{% include "tictactoe/board_detail.html" %}
{% endblock %}
