{% extends "base.html" %}

{% load static %}

{% block title %}
<title>TicTacToe - Board {{ board.id }}</title>
{%endblock%}

{% block style %}
<link rel="stylesheet" href="{% static 'tictactoe/style.css' %}" />
{% endblock %}

{% block script %}
<script src="{% static 'tictactoe/htmx.min.js' %}"></script>
<script src="{% static 'tictactoe/board.js' %}" defer></script>
{% endblock %}

{% block content %}
<div id="players_area">
    <p>Crosses: {{ board.crosses_player }}</p>
    <p>Noughts: {{ board.noughts_player }}</p>
</div>

<div id="board_area">
    <p>Board:</p>
    {% include "tictactoe/board_detail.html" %}
</div>

<div id="status_area" hidden>
    <p id="status_message"></p>
</div>
{% endblock %}
