{% extends "base.html" %}

{% load static %}

{% block title %}
<title>TicTacToe - Index</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'tictactoe/style.css' %}" />
{% endblock %}

{% block script %}
<script src="{% static 'tictactoe/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>User: {{ user.get_username }}</p>

<div id="boards">
    {% for board in user_boards %}
    <ul class="board_info">
        <li>ID: <a href="{% url 'tictactoe:board' board.id %}">{{ board.id }}</a></li>
        <li>Crosses: {{ board.crosses_player }}</li>
        <li>Noughts: {{ board.noughts_player }}</li>
    </ul>
    {% endfor %}
</div>

<div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <button hx-post="{% url 'tictactoe:create_board' %}">Create new board</button>
</div>

<form id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<p><a href="{% url 'login' %}?next={{ request.path }}">Login</a></p>
{% endif %}
{% endblock %}