{% extends "tictactoe/base.html" %}

{% load static %}

{% block title %}
<title>TicTacToe - Index</title>
{% endblock %}

{% block tictactoe_content %}
{% if user.is_authenticated %}
<p>User: {{ user.get_username }}</p>

{% include "tictactoe/board_list.html" %}

<div>
    <button hx-post="{% url 'tictactoe:create_board' %}">Create new board</button>
</div>

<form id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<p><a href="{% url 'login' %}?next={{ request.path }}">Login</a></p>
{% endif %}
{% endblock %}