{% extends "tictactoe/base.html" %}

{% load static %}

{% block title %}
<title>TicTacToe - Index</title>
{% endblock %}

{% block tictactoe_content %}
{% if user.is_authenticated %}
<p>User: {{ user.get_username }}</p>

<button hx-trigger="load, click" hx-get="{% url 'tictactoe:user_boards'  %}" hx-target="#board_area" hx-swap="innerHTML">
    My boards
</button>
<button hx-get="{% url 'tictactoe:open_boards'  %}" hx-target="#board_area" hx-swap="innerHTML">
    Open boards
</button> 
<div id="board_area">
    <p>Boards could not be loaded</p>
</div>

<button hx-post="{% url 'tictactoe:create_board' %}">Create new board</button>

<form id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<p><a href="{% url 'login' %}?next={{ request.path }}">Login</a></p>
{% endif %}
{% endblock %}